//Search List class
// .opacity_to_one {
//   opacity: 1;
// }

//Hero
.hero {
  width: 100%;
  height: 500px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  //   .hero_top_div {
  .hero_content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero_movies_carousel {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .hero_prev {
        position: absolute;
        background-color: transparent;
        border: none;
        width: 60px;
        height: 300px;
        top: 100px;
        left: 70px;
        z-index: 999;
        cursor: pointer;

        img {
          width: 70px;
        }
      }

      .hero_next {
        position: absolute;
        width: 60px;
        background-color: transparent;
        border: none;
        height: 300px;
        top: 100px;
        right: 70px;
        z-index: 999;
        cursor: pointer;

        img {
          width: 70px;
        }
      }
      .carousel_container {
        width: 100%;
        display: flex;

        .single-item {
          width: 100%;

          .hero_movies_item {
            // .slick-slide {
            z-index: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 600px;

            img {
              display: block;
              width: 100%;
              // height: 100%;
              // margin-top: 20px;
            }

            h3 {
              font-size: 30px;
              color: white;
              position: absolute;
              bottom: 150px;
              text-align: center;
              z-index: 999;
            }

            h2 {
              font-size: 35px;
              color: white;
              position: absolute;
              bottom: 190px;
              text-align: center;
              z-index: 999;
            }
          }
        }
      }

      .hero_search {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 0;
        top: 500px;
        .hero_cont {
          .search {
            input {
              padding: 7px;
              width: 708px;
              height: 18px;
              background-color: rgb(187, 187, 187);
              border-radius: 6px;
              outline: none;
              border: 1px solid var(--color-blue-darker);
              text-align: center;
              padding: 5px;
              font-size: 19px;
            }
            label {
              margin-left: 10px;
            }
          }

          .searched_list {
            opacity: 0;
            // transition: opacity 0.5s ease-in-out 0.5s;
            background-color: white;
            padding: 10px 20px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 25px;
            width: fit-content;
            top: 30px;
            align-self: center;

            .searched_movie {
              img {
                width: 140px;
                transition: transform 0.6s ease;
                &:hover {
                  transform: scale(1.05);
                  object-position: center;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  //   }
}

@media only screen and (min-width: 1400px) {
  .hero {
    width: 100%;
    height: 600px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

    //   .hero_top_div {
    //   .hero_content {
    //     .hero_movies_carousel {
    //       .hero_prev {
    //         img {
    //           width: 70px;
    //         }
    //       }
    //       .hero_next {
    //         img {
    //           width: 70px;
    //         }
    //       }
    //       .carousel_container {
    //         .single-item {
    //           .hero_movies_item {
    //             // .slick-slide {
    //             img {
    //             }
    //             h3 {
    //             }
    //             h2 {
    //             }
    //           }
    //         }
    //       }
    //         .hero_search {
    //           .hero_cont {
    //             .search {
    //               input {
    //               }
    //               label {
    //               }
    //             }
    //             .searched_list {
    //             }
    //         }
    //       }
    //     }
    //   }
  }
}

@media only screen and (max-width: 1400px) {
  .hero_movies_item {
    // .slick-slide {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 500px;

    img {
      margin: -320px auto;
      display: block;
      width: 100%;
    }

    h3 {
      font-size: 25px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .hero_movies_item {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    // img {
    // }

    h3 {
      font-size: 20px;
    }

    h2 {
      font-size: 15px;
    }
  }

  .hero {
    height: 450px;

    .hero_content .hero_movies_carousel {
      .hero_prev {
        top: 170px;
        // img {
        // }
      }

      .hero_next {
        top: 170px;
        // img {
        // }
      }

      .carousel_container .single-item .hero_movies_item {
        h3 {
          font-size: 3vw;
        }

        h2 {
          font-size: 3vw;
        }

        img {
          height: 500px;
        }
      }

      .hero_search {
        width: 100%;
        position: absolute;
        // display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 0;
        bottom: -110px;
        .hero_cont {
          .search {
            margin-bottom: 0;
            input {
            }
            label {
            }
          }

          .searched_list {
            .searched_movie {
              img {
                width: 140px;
                transition: transform 0.6s ease;
                &:hover {
                  transform: scale(1.05);
                  object-position: center;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    .carousel_container {
      width: 100%;
      height: 100%;

      .single-item {
        width: 100%;
        height: 100%;

        .hero_movies_item {
          // .slick-slide {
          width: 100%;
          height: 100%;
          // img {
          // }
          // }
        }
      }
    }
  }

  .hero {
    height: 360px;

    .hero_content .hero_movies_carousel {
      .hero_prev {
        top: 170px;
        img {
          width: 50px;
        }
      }

      .hero_next {
        top: 170px;
        img {
          width: 50px;
        }
      }

      .carousel_container .single-item .hero_movies_item {
        h3 {
          font-size: 3vw;
          bottom: 200px;
        }

        h2 {
          font-size: 3vw;
          bottom: 230px;
        }
        img {
          height: 400px;
        }
      }
    }
  }

  .hero .hero_content .hero_movies_carousel .hero_search .hero_cont .search {
    // margin-bottom: 50px;
    input {
      width: 500px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    .carousel_container {
      width: 100%;
      height: 100%;

      .single-item {
        width: 100%;
        height: 100%;

        .hero_movies_item {
          // .slick-slide {
          width: 100%;
          height: fit-content;
          object-fit: cover;
          img {
            height: 100%;
          }
        }
      }
    }
  }

  //search
  .hero .hero_content .hero_movies_carousel .hero_search .hero_cont .search {
    // margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 400px;
    }
  }

  .hero
    .hero_content
    .hero_movies_carousel
    .carousel_container
    .single-item
    .hero_movies_item
    h2 {
    font-size: 4vw;
  }

  .hero
    .hero_content
    .hero_movies_carousel
    .carousel_container
    .single-item
    .hero_movies_item
    h3 {
    font-size: 4vw;
  }

  //buttons
  .hero .hero_content .hero_movies_carousel .hero_next {
    right: 30px;
  }

  .hero .hero_content .hero_movies_carousel .hero_prev {
    left: 30px;
  }

  .hero .hero_content .hero_movies_carousel .hero_prev img {
    width: 30px;
  }
  .hero .hero_content .hero_movies_carousel .hero_next img {
    width: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .hero .hero_content .hero_movies_carousel .hero_search .hero_cont .search {
    // margin-bottom: 80px;
    input {
      width: 300px;
    }
  }
}
